.sprite {
  background-origin: border-box;
  background-repeat: no-repeat;
  display: block;
  flex-shrink: 0;
  transform: translateZ(0);
}

.stageShadow {
  filter: drop-shadow(0 18px 26px rgb(239 139 84 / 0.24));
}
